[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = For Aero project
[access "refs/*"]
	owner = group user/Jolie Ku (JolieKu)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Jolie Ku (JolieKu)
	label-Verified = -1..+1 group user/Jolie Ku (JolieKu)
	push = group user/Jolie Ku (JolieKu)
	read = group user/Jolie Ku (JolieKu)
	rebase = group user/Jolie Ku (JolieKu)
	removeReviewer = group user/Jolie Ku (JolieKu)
	submit = group user/Jolie Ku (JolieKu)
[access "refs/heads/*"]
	create = group user/Jolie Ku (JolieKu)
	push = +force group user/Jolie Ku (JolieKu)
	pushMerge = group user/Jolie Ku (JolieKu)
	read = group user/Jolie Ku (JolieKu)
[access "refs/tags/*"]
	push = group user/Jolie Ku (JolieKu)
	push = +force group user/Jolie Ku (JolieKu)
